// pasar cosas a sass// 


@use '../sass/general/variables';
@use '../sass/general/base';
@use '../sass/general/header';
@use '../sass/general/content';
@use '../sass/general/footer';
@use '../sass/general/products';
@use '../sass/general/queries'; 
@use "../sass/general/animaciones";


