// _base.scss//

@use "variables";

body {
    margin: 0;
    padding: 10%;
    font-family: variables.$font-family;
    background-color: variables.$background-color; 
    color: variables.$text-color; 
}

header, main, footer {
    padding: 0;
    text-align: center;
}

titulo {
    font-size: 3em; 
    margin: 0; 
    color: variables.$text-color; 
}

footer {
    grid-area: footer;
    text-align: center; 
    padding: 20px;
    background-color: variables.$background-color; 
}