// _content.scss //
@use "variables";

.body-grid {
    display: grid;
    grid-template-areas: 
        "titulo"
        "banner"
        "main" 
        "section"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100% 100% 80% 80%;
    min-height: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid variables.$light-blue; 
    padding: 20px;
    margin-left: auto; 
    margin-top: 20px; 
    width: 300px; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.article {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
    align-items: center;

    img {
        width: 100%; 
        height: 200px; 
        object-fit: cover; 
        border-radius: 5px; 

        &:hover {
            transform: scale(1.05); 
            transition: transform 0.3s; 
        }
    }
}