// _products.scss //
@use "variables.scss";

.products-section {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    width: 100%; 
    padding: 20px; 

    &:hover {
        transform: scale(1.05); 
        transition: transform 0.3s; 
    }
}

.product {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
    text-align: center; 
    margin: 10px; 
    padding: 15px; 
    width: 200px; 

    img {
        width: 100%;
        height: auto; 
        border-radius: 5px; 
    }

    h3 {
        font-size: 1.5em;
        margin: 10px 0; 
    }

    p {
        font-size: 1em; 
    }
}