// _queries.scss//
@use "variables.scss";

@media (max-width: 800px) { 
    :root {
        --pad: 16px;
    }

    * { 
        box-sizing: border-box; 
    }

    .section { 
        grid-template-columns: repeat(2, 1fr); 
    }

    .section .article { 
        padding: 14px; 
    }

    body { 
        font-size: 15px; 
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    :root { 
        --pad: 20px; 
    }

    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .card { 
        padding: 20px; 
    }

    body { 
        font-size: 15px; 
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    :root { 
        --pad: 28px; 
    }

    .grid {
        grid-template-columns: repeat(3, 1fr); 
    }

    .container {
        padding-left: calc(var(--pad) * 0.5);
        padding-right: calc(var(--pad) * 0.5);
    }

    body { 
        font-size: 16px; 
    }

    .grid { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
