// _queries.scss//
@use "variables";

// celu//

@media (min-width: 480px) and (max-width: 600px) { 
    :root {
        --pad: 16px; 
    }

    * { 
        box-sizing: border-box; 
    }

    .section { 
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
    }

    .section .article { 
        padding: var(--pad); 
    }

    body { 
        font-size: 15px; 
    }

    .grid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
    }

    .card { 
        padding: var(--pad);
    }
}

// Media Query para Tablets //

@media (min-width: 601px) and (max-width: 800px) {
    :root {
        --pad: 24px; 
    }

    .section { 
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
    }

    body { 
        font-size: 16px; 
    }

    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .card { 
        padding: var(--pad); 
    }
}

// compu //

@media (min-width: 801px) and (max-width: 1200px) {
    :root { 
        --pad: 28px; 
    }

    .grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
    }

    .container {
        padding-left: calc(var(--pad) * 0.5);
        padding-right: calc(var(--pad) * 0.5);
    }

    body { 
        font-size: 16px; 
    }
}