
body {
    margin: 0;
    padding: 10%;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black; 
    color: white; 
    
}

header, main, footer {
padding: 0;
text-align: center;

}
<style>
       @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>