// index//
@use "variables" ;
@use "animaciones" ;

body {
    .body-grid {
        display: grid;
        grid-template-areas: 
            "titulo"
            "banner"
            "main"
            "section"
            "footer";
        grid-template-columns: 1 fr 1 fr 1 fr;
        grid-template-rows: auto; 
        min-height: 100vh; 

        .titulo {
            grid-area: titulo;
            text-align: center;
            font-size: 3em;
            margin: 0;
            color: white;
            animation: slideIn 0.5s ease-out forwards;
           }
         }

        .banner {
            grid-area: banner;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: variables.$background-color;

            .banner-img {
                max-width: 10%;
                height: auto; 
                list-style-type: none;
                align-self: flex-end; 
            }
        }

        .main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: center; 
            padding: 20px;

            .nav {
                margin: 20px;

                ul {
                    list-style-type: none;
                    padding: 0;
                }
            }
        }

        .section {
            grid-area: section;
            grid-template-columns: 1 fr 1 fr 1 fr;
            display: flex;
            justify-content: center; 
            align-items: center; 
            flex-direction: column; 
            border: 2px solid lightblue;
            padding: 40px; 
            margin: 20px auto; 
            width: 80%;  
            background-color: variables.$background-color; 
            border-radius: 10px; 

            .article {
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                align-items: center;

                img {
                    width: 100%;
                    height: auto; 
                    max-height: 200px; 
                    object-fit: cover;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.05);
                        transition: transform 0.3s;
                    }
                }
            }
        }

        .footer {
            grid-area: footer;
            text-align: left;
            padding: 20px;
            background-color: variables.$background-color;

            p {
                margin: 0; 
            }
        }
    }
